*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-family: "fredoka"
}

header{
    text-align: center;
}

header h1{
    color: #e53170;
}

/* main section */
.row::after {
    content: ;
    display: table;
    clear: both;
}

.card {
    float: left;
    background-color: #0f0e17;
    color: white;
    font-size: small;
}

.wrapp{
    float: left;
    line-height: 200%;
}

img{
    float: left;
    width: 25%;
    margin-right: 10px;
}

.email{
    color: #338aaa;
}